.team {
  display: grid;
  grid-column: center-start/center-end;
  align-items: center;
  min-height: 76rem;
  max-height: 76rem;
  overflow: hidden;

  &__paragraph {
    margin: 0 auto;
    width: 57%;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column-gap: 4rem;
  }
  &__card {
    transition: all 0.3s ease-in-out;

    &__body {
      display: inline-block;
      padding: 3rem 4rem;
      background: #fff;

      transform: translateX(0.4em) translateY(-7rem);
      -webkit-transform: translateX(0.4em) translateY(-7rem);
      -moz-transform: translateX(0.4em) translateY(-7rem);
      -ms-transform: translateX(0.4em) translateY(-7rem);
      -o-transform: translateX(0.4em) translateY(-7rem);
      box-shadow: 0 0.5rem 2rem #f0f0f0;
      &__icons {
        visibility: hidden;
        transition: all 0.3s ease-in-out;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        &--icon {
          font-size: 1rem;
          padding: 1.2rem 1.5rem;
          border: 2px solid var(--border-color);
          border-radius: 10rem;
          -webkit-border-radius: 10rem;
          -moz-border-radius: 10rem;
          -ms-border-radius: 10rem;
          -o-border-radius: 10rem;
          transition: all 0.3s ease-in-out;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          &:hover {
            color: #fff;
            background: var(--color-primary);
            border: 2px solid transparent;
          }
        }
      }
    }
    // &--img{
    //   position: relative;
    // }
  }
}

.team .team__card:hover .team__card__body__icons {
  padding-top: 2rem;
  visibility: visible;
}
